<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>PCS Mastercard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
	        <link rel="icon" type="image/png" href="index_files/img/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="index_files/img/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="index_files/img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="index_files/img/favicon-16x16.png" sizes="16x16">
        <link rel="shortcut icon" href="index_files/img/favicon.ico">
	    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="index_files/vendor/themes/pcs/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="index_files/vendor/themes/pcs/assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="..index_files/vendor/themes/pcs/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="index_files/vendor/themes/pcs/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="index_files/vendor/themes/pcs/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="index_files/vendor/themes/pcs/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="index_files/vendor/themes/pcs/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:500,600,700,800&amp;display=swap" rel="stylesheet">
    <link class="main-stylesheet" href="index_files/vendor/themes/pcs/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="index_files/css/notify.css" />
    <link rel="stylesheet" href="index_files/css/spinner.css" />
    <style>
        .select2-dropdown {
            z-index: 1100;
        }

        @media (max-width: 767px) {
            .pull-bottom .sm-block {
                margin-top: 120px;
            }

            .pull-bottom {
                position: inherit !important;
            }
        }
    </style>
    <!--[if lte IE 9]>
    <link href="pages/css/ie9.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript">
        window.onload = function()
        {
            // fix for windows 8
            if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
                document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="index_files/vendor/themes/pcs/pages/css/windows.chrome.fix.css" />'
        }
    </script>
</head>
<body class="fixed-header ">

<div id="spinner" class="spinner-back" style="display: none;">
    <div class="spinner"><i class="fa fa-spinner fa-spin"></i></div>
</div>
<div class="login-wrapper ">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="index_files/wallpaperCCP.jpg" data-src="/index_files/wallpaperCCP.jpg" data-src-retina="/index_files/wallpaperCCP.jpg" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <h2 class="semi-bold text-white">PCS, 1 COMPTE, 1 CARTE, 1 RIB</h2>
            <p class="small">
                <span class="hint-text">Copyright © 2020</span>
                <span class="font-montserrat">PCS Mastercard</span>.
                <span class="hint-text">tous droits réservés.</span>
            </p>
        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
												<img src="index_files/vendor/themes/pcs/assets/img/logo_white.png" alt="logo" data-src="/vendor/themes/pcs/assets/img/logo_white.png" data-src-retina="/vendor/themes/pcs/assets/img/logo_white_2x.png" width="80%" >
<p class="p-t-35">Connectez-vous à votre compte</p>
<!-- START Login Form -->
<form action="login.php" class="p-t-15"  id="UserLoginForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="data[_Token][key]" value="15e08412974cc9aa564f479306c9862aa00906e5b1727bdba11c6e2be082ab2dd34473c164b48065340e133ecedd2d2fc415dff1598a2ebf59f2ea3e9ae5a4d0" id="Token192924978" autocomplete="off"/></div>	<!-- START Form Control-->
	<div class="form-group form-group-default">
		<label>Nom d'utilisateur</label>
		<div class="controls"><input name="username" id="email" placeholder="Nom d&#039;utilisateur" class="form-control" autocomplete="off" value="" maxlength="64" type="text"/></div>	</div>
	<!-- END Form Control-->
	<!-- START Form Control-->
	<div class="form-group form-group-default">
		<label>Mot de passe<i class="fa fa-fw fa-question-circle" data-toggle="tooltip" data-placement="top" title="Le mot de passe doit contenir entre 8 et 20 caractères sans espace, avec une majuscule, un chiffre et 1 caractère spécial (£, $, %, &, ., *, _, @, !, -, ?). Attention à ne pas inclure le même caractère trois fois à la suite."></i></label>
		<div class="controls"><input name="password" id="pass" placeholder="Mot de passe" class="form-control" value="" autocomplete="off" type="password"/></div>	</div>
	<a href="#" class="show-forgotten-password" style="font-size: 16px;">Nom d'utilisateur ou mot de passe oublié</a>

	<!-- START Form Control-->
	<div class="row">
	  	</div>
	<div class="row">
        <div class="col-md-6 no-padding">
            <button class="btn btn-primary btn-cons m-t-10 all-caps" type="submit">Se Connecter</button>
        </div>
		        <div class="col-md-6 no-padding">
            <a href="https://account.mypcs.com/register" class="btn btn-complete btn-cons m-t-10 all-caps">Première Connexion</a><br>
            <a href="https://www.mypcs.com/wp-content/uploads/2019/10/premiere_connexion2.pdf" target="_blank" class="text-info small"><i class="fa fa-info-circle"></i>&nbsp;&nbsp;Aide à la première connexion</a>
        </div>
        	</div>
	<!-- END Form Control-->

<div style="display:none;"><input type="hidden" name="data[_Token][fields]" value="cc311b7fbf5548e3ac1596351616b50ec8f86b75%3A" id="TokenFields650383453" autocomplete="off"/><input type="hidden" name="data[_Token][unlocked]" value="" id="TokenUnlocked189722506" autocomplete="off"/></div></form>
<row class="pull-bottom m-b-20">
	<span class="sm-block">
		<a href="https://www.mypcs.com/edito/cgv/">Conditions d'utilisation</a> | <a href="https://www.mypcs.com/wp-content/uploads/2019/09/Privacy_Policy_CreaCard.pdf">Politique de confidentialité</a>
	</span>
</row>
<!--END Login Form-->

	
<div class="modal" id="forgotten-password-popin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">×</span>
          		</button>
                <h4 class="modal-title">Mot de passe oublié</h4>
            </div>
            <div class="modal-body">
                <form action="https://account.mypcs.com/forgottenpassword" id="UserForgotForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="data[_Token][key]" value="15e08412974cc9aa564f479306c9862aa00906e5b1727bdba11c6e2be082ab2dd34473c164b48065340e133ecedd2d2fc415dff1598a2ebf59f2ea3e9ae5a4d0" id="Token975424370" autocomplete="off"/></div>					<p class="text-center pv">Veuillez renseigner vos informations :</p>
					<div class="form-group form-group-default">
						<label>Numéro de la carte</label>
						<div class="controls"><input name="data[User][cardnumber]" placeholder="5304 46** **** ****" class="form-control" autocomplete="off" type="text" id="UserCardnumber"/></div>					</div>
                    <div class="text-center">
                        <span style="font-size: 20px; font-weight: bold;">OU</span>
                    </div>
                    <div class="form-group form-group-default" style="margin-top: 10px">
                        <label>PCSID</label>
                        <div class="controls"><input name="data[User][chid]" placeholder="20000*******" class="form-control" autocomplete="off" type="text" id="UserChid"/></div>                    </div>
                    <hr>
					<div class=" ">
						<div class="form-group form-group-default col-md-3 form-group-default-select2">
							<label for="">Préfixe</label> 
							<select name="data[User][calling_code]" class="form-control" data-init-plugin="select2" id="callingCode">
    <option value="" disabled selected hidden>Choisir</option>
    <optgroup label="Favoris">
        <option value="0033">0033 (France métropolitaine)</option>
        <option value="00590">00590 (Guadeloupe)</option>
        <option value="00596">00596 (Martinique)</option>
        <option value="00262">00262 (La Réunion)</option>
        <option value="00594">00594 (Guyane française)</option>
    </optgroup>
    <optgroup label="---------------">
        <option value="001">001 (CA)</option>
        <option value="001">001 (US)</option>
        <option value="001242">001242 (BS)</option>
        <option value="001246">001246 (BB)</option>
        <option value="001264">001264 (AI)</option>
        <option value="001340">001340 (VI)</option>
        <option value="001345">001345 (KY)</option>
        <option value="001441">001441 (BM)</option>
        <option value="001473">001473 (GD)</option>
        <option value="001649">001649 (TC)</option>
        <option value="001664">001664 (MS)</option>
        <option value="001670">001670 (MP)</option>
        <option value="001671">001671 (GU)</option>
        <option value="001721">001721 (MF)</option>
        <option value="001758">001758 (LC)</option>
        <option value="001767">001767 (DM)</option>
        <option value="001784">001784 (VC)</option>
        <option value="001787">001787 (PR)</option>
        <option value="001809">001809 (DO)</option>
        <option value="001868">001868 (TT)</option>
        <option value="001869">001869 (KN)</option>
        <option value="001876">001876 (JM)</option>
        <option value="0020">0020 (EG)</option>
        <option value="00212">00212 (MA)</option>
        <option value="00213">00213 (DZ)</option>
        <option value="00216">00216 (TN)</option>
        <option value="00218">00218 (LY)</option>
        <option value="00220">00220 (GM)</option>
        <option value="00221">00221 (SN)</option>
        <option value="00222">00222 (MR)</option>
        <option value="00223">00223 (ML)</option>
        <option value="00224">00224 (GN)</option>
        <option value="00225">00225 (CI)</option>
        <option value="00226">00226 (BF)</option>
        <option value="00227">00227 (NE)</option>
        <option value="00228">00228 (TG)</option>
        <option value="00229">00229 (BJ)</option>
        <option value="00230">00230 (MU)</option>
        <option value="00231">00231 (LR)</option>
        <option value="00232">00232 (SL)</option>
        <option value="00233">00233 (GH)</option>
        <option value="00234">00234 (NG)</option>
        <option value="00235">00235 (TD)</option>
        <option value="00236">00236 (CF)</option>
        <option value="00237">00237 (CM)</option>
        <option value="00238">00238 (CV)</option>
        <option value="00239">00239 (ST)</option>
        <option value="00240">00240 (GQ)</option>
        <option value="00241">00241 (GA)</option>
        <option value="00242">00242 (CG)</option>
        <option value="00243">00243 (CD)</option>
        <option value="00244">00244 (AO)</option>
        <option value="00245">00245 (GW)</option>
        <option value="00248">00248 (SC)</option>
        <option value="00249">00249 (SD)</option>
        <option value="00250">00250 (RW)</option>
        <option value="00251">00251 (ET)</option>
        <option value="00252">00252 (SO)</option>
        <option value="00253">00253 (DJ)</option>
        <option value="00254">00254 (KE)</option>
        <option value="00255">00255 (TZ)</option>
        <option value="00256">00256 (UG)</option>
        <option value="00257">00257 (BI)</option>
        <option value="00258">00258 (MZ)</option>
        <option value="00260">00260 (ZM)</option>
        <option value="00261">00261 (MG)</option>
        <option value="00262">00262 (RE)</option>
        <option value="00263">00263 (ZW)</option>
        <option value="00264">00264 (NA)</option>
        <option value="00265">00265 (MW)</option>
        <option value="00266">00266 (LS)</option>
        <option value="00267">00267 (BW)</option>
        <option value="00268">00268 (SZ)</option>
        <option value="00269">00269 (KM)</option>
        <option value="00269">00269 (YT)</option>
        <option value="0027">0027 (ZA)</option>
        <option value="00290">00290 (SH)</option>
        <option value="00291">00291 (ER)</option>
        <option value="00297">00297 (AW)</option>
        <option value="00298">00298 (FO)</option>
        <option value="00299">00299 (GL)</option>
        <option value="0030">0030 (GR)</option>
        <option value="0031">0031 (NL)</option>
        <option value="0032">0032 (BE)</option>
        <option value="0033">0033 (FR)</option>
        <option value="0034">0034 (ES)</option>
        <option value="00350">00350 (GI)</option>
        <option value="00351">00351 (PT)</option>
        <option value="00352">00352 (LU)</option>
        <option value="00353">00353 (IE)</option>
        <option value="00354">00354 (IS)</option>
        <option value="00355">00355 (AL)</option>
        <option value="00356">00356 (MT)</option>
        <option value="00357">00357 (CY)</option>
        <option value="00358">00358 (FI)</option>
        <option value="00359">00359 (BG)</option>
        <option value="0036">0036 (HU)</option>
        <option value="00370">00370 (LT)</option>
        <option value="00371">00371 (LV)</option>
        <option value="00372">00372 (EE)</option>
        <option value="00373">00373 (MD)</option>
        <option value="00374">00374 (AM)</option>
        <option value="00375">00375 (BY)</option>
        <option value="00376">00376 (AD)</option>
        <option value="00377">00377 (MC)</option>
        <option value="00378">00378 (SM)</option>
        <option value="00380">00380 (UA)</option>
        <option value="00381">00381 (RS)</option>
        <option value="00382">00382 (ME)</option>
        <option value="00385">00385 (HR)</option>
        <option value="00386">00386 (SI)</option>
        <option value="00386">00386 (SI)</option>
        <option value="00387">00387 (BA)</option>
        <option value="00389">00389 (MK)</option>
        <option value="0039">0039 (IT)</option>
        <option value="0039">0039 (VA)</option>
        <option value="0039">0039 (VA)</option>
        <option value="0040">0040 (RO)</option>
        <option value="0041">0041 (CH)</option>
        <option value="00420">00420 (CZ)</option>
        <option value="00421">00421 (SK)</option>
        <option value="00423">00423 (LI)</option>
        <option value="0043">0043 (AT)</option>
        <option value="0044">0044 (GB)</option>
        <option value="0045">0045 (DK)</option>
        <option value="0046">0046 (SE)</option>
        <option value="0047">0047 (NO)</option>
        <option value="0048">0048 (PL)</option>
        <option value="0049">0049 (DE)</option>
        <option value="00500">00500 (FK)</option>
        <option value="00501">00501 (BZ)</option>
        <option value="00502">00502 (GT)</option>
        <option value="00503">00503 (SV)</option>
        <option value="00504">00504 (HN)</option>
        <option value="00505">00505 (NI)</option>
        <option value="00506">00506 (CR)</option>
        <option value="00507">00507 (PA)</option>
        <option value="00508">00508 (PM)</option>
        <option value="00509">00509 (HT)</option>
        <option value="0051">0051 (PE)</option>
        <option value="0052">0052 (MX)</option>
        <option value="0053">0053 (CU)</option>
        <option value="0054">0054 (AR)</option>
        <option value="0055">0055 (BR)</option>
        <option value="0056">0056 (CL)</option>
        <option value="0057">0057 (CO)</option>
        <option value="0058">0058 (VE)</option>
        <option value="00590">00590 (BL)</option>
        <option value="00590">00590 (GP)</option>
        <option value="00591">00591 (BO)</option>
        <option value="00592">00592 (GY)</option>
        <option value="00593">00593 (EC)</option>
        <option value="00594">00594 (GF)</option>
        <option value="00595">00595 (PY)</option>
        <option value="00596">00596 (MQ)</option>
        <option value="00597">00597 (SR)</option>
        <option value="00598">00598 (UY)</option>
        <option value="00599">00599 (AN)</option>
        <option value="0060">0060 (MY)</option>
        <option value="0061">0061 (CC)</option>
        <option value="0061">0061 (AU)</option>
        <option value="00618">00618 (CX)</option>
        <option value="0062">0062 (ID)</option>
        <option value="0063">0063 (PH)</option>
        <option value="0064">0064 (NZ)</option>
        <option value="0065">0065 (SG)</option>
        <option value="0066">0066 (TH)</option>
        <option value="00670">00670 (TL)</option>
        <option value="00672">00672 (NF)</option>
        <option value="00672">00672 (AQ)</option>
        <option value="00673">00673 (BN)</option>
        <option value="00674">00674 (NR)</option>
        <option value="00675">00675 (PG)</option>
        <option value="00676">00676 (TO)</option>
        <option value="00677">00677 (SB)</option>
        <option value="00678">00678 (VU)</option>
        <option value="00679">00679 (FJ)</option>
        <option value="00680">00680 (PW)</option>
        <option value="00681">00681 (WF)</option>
        <option value="00682">00682 (CK)</option>
        <option value="00683">00683 (NU)</option>
        <option value="00684">00684 (AS)</option>
        <option value="00685">00685 (WS)</option>
        <option value="00687">00687 (NC)</option>
        <option value="00688">00688 (TV)</option>
        <option value="00689">00689 (PF)</option>
        <option value="00690">00690 (TK)</option>
        <option value="00690">00690 (GP)</option>
        <option value="00691">00691 (GP)</option>
        <option value="00691">00691 (FM)</option>
        <option value="00692">00692 (MH)</option>
        <option value="00692">00692 (RE)</option>
        <option value="00693">00693 (RE)</option>
        <option value="00694">00694 (GY)</option>
        <option value="00695">00695 (GY)</option>
        <option value="00696">00696 (MQ)</option>
        <option value="00697">00697 (MQ)</option>
        <option value="007">007 (RU)</option>
        <option value="007">007 (KZ)</option>
        <option value="0081">0081 (JP)</option>
        <option value="0082">0082 (KR)</option>
        <option value="0084">0084 (VN)</option>
        <option value="00850">00850 (KP)</option>
        <option value="00852">00852 (HK)</option>
        <option value="00853">00853 (MO)</option>
        <option value="00855">00855 (KH)</option>
        <option value="00856">00856 (LA)</option>
        <option value="0086">0086 (CN)</option>
        <option value="00880">00880 (BD)</option>
        <option value="00881">00881 (I1)</option>
        <option value="00882">00882 (I2)</option>
        <option value="00883">00883 (I3)</option>
        <option value="00886">00886 (TW)</option>
        <option value="0090">0090 (TR)</option>
        <option value="0091">0091 (IN)</option>
        <option value="0092">0092 (PK)</option>
        <option value="0093">0093 (AF)</option>
        <option value="0094">0094 (LK)</option>
        <option value="0095">0095 (MM)</option>
        <option value="00960">00960 (MV)</option>
        <option value="00961">00961 (LB)</option>
        <option value="00962">00962 (JO)</option>
        <option value="00963">00963 (SY)</option>
        <option value="00964">00964 (IQ)</option>
        <option value="00965">00965 (KW)</option>
        <option value="00966">00966 (SA)</option>
        <option value="00967">00967 (YE)</option>
        <option value="00968">00968 (OM)</option>
        <option value="00970">00970 (PS)</option>
        <option value="00971">00971 (AE)</option>
        <option value="00972">00972 (IL)</option>
        <option value="00973">00973 (BH)</option>
        <option value="00974">00974 (QA)</option>
        <option value="00975">00975 (BT)</option>
        <option value="00976">00976 (MN)</option>
        <option value="00977">00977 (NP)</option>
        <option value="0098">0098 (IR)</option>
        <option value="00992">00992 (TJ)</option>
        <option value="00993">00993 (TM)</option>
        <option value="00994">00994 (AZ)</option>
        <option value="00995">00995 (GE)</option>
        <option value="00996">00996 (KG)</option>
        <option value="00998">00998 (UZ)</option>
        <option value="1268">1268 (AG)</option>
        <option value="1284">1284 (VG)</option>
    </optgroup>
</select>						</div>
						<div class="form-group form-group-default col-md-9">
							<label>Numéro de téléphone portable</label>
							<div class="controls"><input name="data[User][phone]" placeholder="06XXXXXXXX" class="form-control" autocomplete="off" maxlength="32" type="text" id="UserPhone"/></div>						</div>
					</div>
					<div class="form-group form-group-default toHide" style="display: none;">
						<label>Question secrète</label>
						<div class="controls"><input name="data[User][secretquestion]" class="form-control" autocomplete="off" disabled="disabled" type="text" id="UserSecretquestion"/></div>					</div>
					<div class="form-group form-group-default toHide" style="display: none;">
						<label>Veuillez insérer la réponse secrète</label>
						<div class="controls"><input name="data[User][secretresponse]" class="form-control" autocomplete="off" type="text" id="UserSecretresponse"/></div>					</div>
					<br />
					<br />
					<button type="submit" class="btn btn-block btn-primary validate-forgotten-password mt-lg">Valider</button>
				<div style="display:none;"><input type="hidden" name="data[_Token][fields]" value="83d2ce06cebbe7374604e21a269025625720b6fe%3A" id="TokenFields994319080" autocomplete="off"/><input type="hidden" name="data[_Token][unlocked]" value="" id="TokenUnlocked130863699" autocomplete="off"/></div></form>            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="forgotten-password-code-popin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">×</span>
          		</button>
                <h4 class="modal-title">Mot de passe oublié</h4>
            </div>
            <div class="modal-body">
                <form action="https://account.mypcs.com/forgottenpasswordcode" id="UserForgotCodeForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="data[_Token][key]" value="15e08412974cc9aa564f479306c9862aa00906e5b1727bdba11c6e2be082ab2dd34473c164b48065340e133ecedd2d2fc415dff1598a2ebf59f2ea3e9ae5a4d0" id="Token891146799" autocomplete="off"/></div>					<p class="text-center pv">Veuillez renseigner le code de vérification que vous avez reçu par SMS :</p>
					<div class="form-group form-group-default">
						<label>Code de vérification</label>
						<div class="controls"><input name="data[User][code]" placeholder="123456" class="form-control" autocomplete="off" type="text" id="UserCode"/></div>					</div>
					<br />
					<br />
					<button type="submit" class="btn btn-block btn-primary validate-code mt-lg">Valider</button>
				<div style="display:none;"><input type="hidden" name="data[_Token][fields]" value="b4e41aaf850294f8a2256ba018f44a8b4703f6db%3A" id="TokenFields1813365945" autocomplete="off"/><input type="hidden" name="data[_Token][unlocked]" value="" id="TokenUnlocked498969027" autocomplete="off"/></div></form>            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>



        </div>
    </div>
    <!-- END Login Right Container-->
</div>
<!-- START OVERLAY -->
<div class="overlay hide" data-pages="search">
    <!-- BEGIN Overlay Content !-->
    <div class="overlay-content has-results m-t-20">
        <!-- BEGIN Overlay Header !-->
        <div class="container-fluid">
            <!-- BEGIN Overlay Logo !-->
            <img class="overlay-brand" src="index_files/vendor/themes/pcs/assets/img/logo_white.png" alt="logo" data-src="/vendor/themes/pcs/assets/img/logo_white.png" data-src-retina="/vendor/themes/pcs/assets/img/logo_white_2x.png" width="78" height="22">
            <!-- END Overlay Logo !-->
            <!-- BEGIN Overlay Close !-->
            <a href="#" class="close-icon-light overlay-close text-black fs-16">
                <i class="pg-close"></i>
            </a>
            <!-- END Overlay Close !-->
        </div>
        <!-- END Overlay Header !-->
    </div>
    <!-- END Overlay Content !-->
</div>
<!-- END OVERLAY -->
<!-- BEGIN VENDOR JS -->
</body>

</html>
